<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Schedule</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container center" >
      <div class="hidden-xs">
        <div class="row border">
          <div class="col-xs-12 col-md-11 text-center border">
            <h1>Harvard</h1>
          </div>
        </div>
        <div class="row border">
          <div class="col-xs-6  text-left">
            <h3>A Cool Cool Programmer</h3>
          </div>
          <div class="col-xs-6 col-md-5 text-right">
            <h3>2019-2020</h3>
          </div>
          <br>
        </div>
        <div class="row border">
          <div class="col-md-1 col-xs-6">
            <span>Time</span>
          </div>
          <div class="col-md-2 col-xs-6">
            <span>Monday</span>
          </div>
          <div class="col-md-2 col-xs-6">
            <span>Tuesday</span>
          </div>
          <div class="col-md-2 col-xs-6">
            <span>Wensday</span>
          </div>
          <div class="col-md-2 col-xs-6">
            <span>Thursday</span>
          </div>
          <div class="col-md-2 col-xs-6">
            <span>Friday</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-sm-2  science">
            <span>Science <br> Taylor<br> Lab</span>
          </div>
          <div class="col-sm-2  data">
            <span>Data Science<br>Taiwo<br>Library</span>
          </div>
          <div class="col-sm-2  free">
            <span>Study <br>Haydee <br>Library</span>
          </div>
          <div class="col-sm-2  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-sm-2  math">
            <span >Math<br>John<br>Lab</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-sm-2  free">
            <span>Study <br>Haydee <br>Library</span>
          </div>
          <div class="col-sm-2  writing">
            <span>Creative Wirting<br>Evan<br>R2</span>
          </div>
          <div class="col-sm-2  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-sm-2  webdev">
            <span>Back-EndDevelopment<br>Julio<br>2F</span>
          </div>
          <div class="col-sm-2  greek">
            <span >Greek<br>Maria<br>2C</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-sm-2  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-sm-2  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-sm-2  art">
            <span>Art<br>Maricio<br>Art Room</span>
          </div>
          <div class="col-sm-2  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-sm-2  webdev">
            <span>Back-End Development<br>Julio<br>2F</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>10:45</span>
          </div>
          <div class="col-sm-2 ">
            <span>Snack</span>
          </div>
          <div class="col-sm-2 ">
            <span>Snack</span>
          </div>
          <div class="col-sm-2 ">
            <span>Snack</span>
          </div>
          <div class="col-sm-2 ">
            <span>Snack</span>
          </div>
          <div class="col-sm-2 ">
            <span>Snack</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-sm-2  data">
            <span>Data Scinece<br>Taiwo<br>2F</span>
          </div>
          <div class="col-sm-2  webdev">
            <span>Back-End Development<br>Julio<br>2F</span>
          </div>
          <div class="col-sm-2  greek">
            <span>Greek<br>Maira<br>2C</span>
          </div>
          <div class="col-sm-2  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-sm-2  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-sm-2  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-sm-2  greek">
            <span>Greek <br>Maria<br>2C</span>
          </div>
          <div class="col-sm-2  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-sm-2  data">
            <span>Data Scinece<br>Taiwo<br>Library</span>
          </div>
          <div class="col-sm-2  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-sm-2  theater">
            <span>Theater<br>Jesse<br>Dance Room</span>
          </div>
          <div class="col-sm-2  advisory">
            <span>Advisory<br>David<br><br></span>
          </div>
          <div class="col-sm-2  health">
            <span>Health<br>Nancy and Peniel<br><br></span>
          </div>
          <div class="col-sm-2  art">
            <span>Art<br>Maricio<br>Art Room</span>
          </div>
          <div class="col-sm-2 ">
            <span>Lunch<br><br><br></span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-sm-2  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-sm-2  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-sm-2  vgp">
            <span>VGP<br>Eddie<br>1A</span>
          </div>
          <div class="col-sm-2  greek">
            <span>Greek<br>Maria<br>2C</span>
          </div>
          <div class="col-sm-2  latin">
            <span>Latin<br>Bruce<br>2E</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 ">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-sm-2  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-sm-2  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-sm-2  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-sm-2  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-sm-2  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
        </div>
        <div class="row border">
          <div class="col-sm-1 3">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-sm-2  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-sm-2  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-sm-2  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
          <div class="col-sm-2  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
          <div class="col-sm-2  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
        </div>
      </div>
    <!-- responsive design below -->
      <div class="hidden-sm visible-xs">
        <div class="row border">
          <div class="col-xs-8 col-md-11 text-center border">
            <h1 id="top">Harvard</h1>
          </div>
        </div>
        <div class="row border">
          <div class="col-xs-4  text-left">
            <h3>A Cool Cool Programmer</h3>
          </div>
          <div class="col-xs-4 col-md-5 text-right">
            <h3>2018-2019<br><br></h3>
          </div>
          <br>
        </div>
        {% if post['dayWeek']== 'Monday' -%}
        <div class="row border">
          <div class="col-xs-12 day">
            <span id = "monday"><br>Monday<br><br></span>

          </div>
          <div class="col-xs-2">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-xs-10 science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
          <div class="col-xs-2 ">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-xs-10 free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-xs-10  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>10:45</span>
          </div>
          <div class="col-xs-10">
            <span>Snack</span>
          </div>
          <div class="col-xs-2">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-xs-10  data">
            <span>Data Scinece<br>Taiwo<br>2F</span>
          </div>
          <div class="col-xs-2">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-xs-10  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-xs-10  theater">
            <span>Theater<br>Jesse<br>Dance Room</span>
          </div>
          <div class="col-xs-2">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-xs-10  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-xs-2">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-xs-10  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-xs-2">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-xs-10  english">
            <span>English<br>Zach<br>1A</span>
          </div>
        </div>
        {% elif post['dayWeek'] == 'Tuesday' -%}
        <div class="row border">
          <div class="col-xs-12 day">
            <span id = "tuesday"><br>Tuesday<br><br></span>
            <nav>
              <a href="#top">Top</a>
            </nav>
          </div>
          <div class="col-xs-2">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-xs-10  data">
            <span>Data Science<br>Taiwo<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-xs-10  writing">
            <span>Creative Wirting<br>Evan<br>R2</span>
          </div>
          <div class="col-xs-2">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-xs-10  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-xs-2">
            <span>10:45</span>
          </div>
          <div class="col-xs-10">
            <span>Snack</span>
          </div>
          <div class="col-xs-2">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-xs-10  webdev">
            <span>Back-End Development<br>Julio<br>2F</span>
          </div>
          <div class="col-xs-2">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-xs-10  greek">
            <span>Greek <br>Maria<br>2C</span>
          </div>
          <div class="col-xs-2">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-xs-10  advisory">
            <span>Advisory<br>David<br><br></span>
          </div>
          <div class="col-xs-2">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-xs-10  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-xs-10 free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-xs-10  english">
            <span>English<br>Zach<br>1A</span>
          </div>
        </div>
        {% elif post['dayWeek'] == 'Wednesday' -%}
        <div class="row border">
          <div class="col-xs-12 day">
            <span id = "wensday"><br>Wensday<br><br></span>
            <nav>
              <a href="#top">Top</a>
            </nav>
          </div>
          <div class="col-xs-2">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-xs-10  free">
            <span>Study <br>Haydee <br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-xs-10  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-xs-10  art">
            <span>Art<br>Maricio<br>Art Room</span>
          </div>
          <div class="col-xs-2">
            <span>10:45</span>
          </div>
          <div class="col-xs-10">
            <span>Snack</span>
          </div>
          <div class="col-xs-2">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-xs-10  greek">
            <span>Greek<br>Maira<br>2C</span>
          </div>
          <div class="col-xs-2">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-xs-10  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-xs-2">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-xs-10  health">
            <span>Health<br>Nancy and Peniel<br><br></span>
          </div>
          <div class="col-xs-2">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-xs-10  vgp">
            <span>VGP<br>Eddie<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-xs-10  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-xs-10  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
        </div>
        {% elif post['dayWeek'] == 'Thursday' -%}
        <div class="row border">
          <div class="col-xs-12 day">
            <span id = "thursday"><br>Thursday<br><br></span>
            <nav>
              <a href="#top">Top</a>
            </nav>
          </div>
          <div class="col-xs-2">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-xs-10  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-xs-2">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-xs-10  webdev">
            <span>Back-EndDevelopment<br>Julio<br>2F</span>
          </div>
          <div class="col-xs-2">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-xs-10  latin">
            <span>Latin<br>Bruce<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>10:45</span>
          </div>
          <div class="col-xs-10">
            <span>Snack</span>
          </div>
          <div class="col-xs-2">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-xs-10  english">
            <span>English<br>Zach<br>1A</span>
          </div>
          <div class="col-xs-2">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-xs-10  data">
            <span>Data Scinece<br>Taiwo<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-xs-10  art">
            <span>Art<br>Maricio<br>Art Room</span>
          </div>
          <div class="col-xs-2">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-xs-10  greek">
            <span>Greek<br>Maria<br>2C</span>
          </div>
          <div class="col-xs-2">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-xs-10  math">
            <span>Math<br>Jhon<br>Lab</span>
          </div>
          <div class="col-xs-2">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-xs-10  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
        </div>
        {% elif post['dayWeek'] == 'Friday' -%}
        <div class="row border">
          <div class="col-xs-8 day">
            <span id ="friday">Friday</span>
          </div>
          <div class="col-xs-2">
            <span>8:30<br><br><br></span>
          </div>
          <div class="col-xs-6  math">
            <span >Math<br>John<br>Lab</span>
          </div>
          <div class="col-xs-2">
            <span>9:15<br><br><br></span>
          </div>
          <div class="col-xs-6  greek">
            <span >Greek<br>Maria<br>2C</span>
          </div>
          <div class="col-xs-2">
            <span>10:00<br><br><br></span>
          </div>
          <div class="col-xs-6  webdev">
            <span>Back-End Development<br>Julio<br>2F</span>
          </div>
          <div class="col-xs-2">
            <span>10:45</span>
          </div>
          <div class="col-xs-6">
            <span>Snack</span>
          </div>
          <div class="col-xs-2">
            <span>10:55<br><br><br></span>
          </div>
          <div class="col-xs-6  history">
            <span>History<br>Sofia<br>R2</span>
          </div>
          <div class="col-xs-2">
            <span>11:40<br><br><br></span>
          </div>
          <div class="col-xs-6  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
          <div class="col-xs-2">
            <span>12:25<br><br><br></span>
          </div>
          <div class="col-xs-6 ">
            <span>Lunch<br><br><br></span>
          </div>
          <div class="col-xs-2">
            <span>1:10<br><br><br></span>
          </div>
          <div class="col-xs-6  latin">
            <span>Latin<br>Bruce<br>2E</span>
          </div>
          <div class="col-xs-2">
            <span>1:55<br><br><br></span>
          </div>
          <div class="col-xs-6  science">
            <span>Science<br>Taylor<br>Lab</span>
          </div>
          <div class="col-xs-2">
            <span>2:40<br><br><br></span>
          </div>
          <div class="col-xs-6  free">
            <span>Study<br>Haydee<br>Library</span>
          </div>
        </div>
        {%- endif %}
      </div>
    </div>
  </body>
</html>
