{% extends "layout.html" %}
{% block content%}
<div class="row text-center col-xs-offset-4">
  <div class="col-xs-3 sch">
    <h2>Time</h2>
  </div>
  <div class="col-xs-4 sch">
    <h2>{{ time.day }}</h2>
  </div>
</div>
{% for post in posts[time.day] %}
<div class="row text-center {{ post.css }} col-xs-offset-4 ">
  <div class="col-xs-3 sch">
    <span><br>{{ post['time'] }}<br><br></span>
  </div>
  <div class="col-xs-4 sch">
    <span>{{ post['class'] }}<br></span>
    <span>{{ post['teacher'] }}<br></span>
    <span>{{ post['room'] }}<br></span>
  </div>
</div>
{% endfor %}
{% endblock content %}
